
<div class="header">
    <div class="logoWrapper">
        <img class = "logo" src="assets/Logos/WriteToPdf_Logo_white.png" alt="">
        <div style="display:grid;margin:auto;">
            <p-button label="Login" [style]="{maxWidth:'100px',width:'10svw',marginBottom:'20px'}" (click)="navigateToLogin()"></p-button>
            <p-button label="Sign Up" [style]="{maxWidth:'100px',width:'10svw',marginTop:'20px'}" (click)="navigateToSignup()"></p-button>
        </div>
    </div>
    <div class="navItemWrapper" (click)="setContent(1)" [style.backgroundImage]="'url(assets/MockData/fileMan.jpg)'">
        <p>High Speed File Management</p>
    </div>
    <div class="navItemWrapper" (click)="setContent(2)" [style.backgroundImage]="'url(assets/MockData/download.jpg)'">
        <p>Intuitive Document Editing</p>
    </div>
    <div class="navItemWrapper" (click)="setContent(3)" [style.backgroundImage]="'url(assets/MockData/handWritten.jpg)'">
        <p>Accurate Handwritten text conversion</p>
    </div>

</div>

<div class="content" id="content">
    <div class="contentColumn">
        <img src="assets/MockData/bg1.jpg" alt="" class="contentImg img1">
    </div>
    <div class="contentColumn">
        <img src="assets/MockData/bg2.jpg" alt="" class="contentImg img2">
    </div>
    <div class="contentColumn">
        <img src="assets/MockData/bg4.jpg" alt="" class="contentImg img3">
    </div>
</div>

<div class="loginWrapper">
    <p-button label="Login" [style]="{minWidth:'100px',width:'10svw',marginBottom:'5px'}" (click)="navigateToLogin()"></p-button>
    <p-button label="Sign Up" [style]="{minWidth:'100px',width:'10svw',marginTop:'5px'}" (click)="navigateToSignup()"></p-button>
</div>
