<div class="container">
  <p-toast></p-toast>
  <div class="header">
    <div class="toolbarWrapper">
      <div class="titleWrapper">
        <div class="logoWrapper" (click)="navigateToPage('home')" title="Return Home">
          <img
            class="logo"
            src="assets/Logos/WriteToPdf_Logo_white.png"
            alt=""
          />
        </div>
        <div class="docTitleWrapper">
          <label for="editHeading" class="displayNone">a</label>
          <input
            type="text"
            editable="true"
            id="editHeading"
            class="documentTitle"
            value="New Document"
            maxlength="50"
            (blur)="renameDocument()"
            [(ngModel)]="fileName"
            [title]="fileName"
          />
        </div>
        <div class="exitEditPage">
              <p-button class="backButton" icon="pi pi-times" label="Exit" styleClass="p-button-rounded"
                (click)="navigateToPage('home')"></p-button>
        </div>
      </div>
      <div class="toolsWrapper">
        <div class="tool" (click)="showDialog()" label="Show" title="Download Document">
          <!-- Download -->
          <img src="assets/Icons/editIcons/download.svg" alt="" />
        </div>
        <p-dialog
          header="Export File"
          [(visible)]="exportDialogVisible"
          [focusOnShow]="true"
          [modal]="true"
          [style]="{ width: '50vw' }"
        >
          <div class="flex py-2 justify-content-center"></div>
          <!-- <input type="text" pInputText [(ngModel)]="fileType" /> -->
          <div class="buttonsWrapper">
            <p-button
              label="Export to pdf"
              (click)="convertToFileType('pdf')"
              [style]="{ width: '150px' }"
            ></p-button>
            <p-button
              label="Export to txt"
              (click)="convertToFileType('txt')"
              [style]="{ width: '150px' }"
            ></p-button>
            <p-button
              label="Export to html"
              (click)="convertToFileType('html')"
              [style]="{ width: '150px' }"
            ></p-button>
            <p-button
              label="Export to md"
              (click)="convertToFileType('md')"
              [style]="{ width: '150px' }"
            ></p-button>
            <p-button
              label="Export to jpeg"
              (click)="convertToFileType('jpeg')"
              [style]="{ width: '150px' }"
            ></p-button>
            <p-button
              label="Export to png"
              (click)="convertToFileType('png')"
              [style]="{ width: '150px' }"
            ></p-button>
          </div>
        </p-dialog>

        <div class="tool" (click)="saveDocumentContents()" title="Save Document">
          <!-- Save -->
          <img src="assets/Icons/editIcons/save.png" alt="" />
        </div>
        <!-- <div class="tool" (click)="delete()">
          <img src="assets/Icons/editIcons/delete.png" alt="" />
        </div> -->
        <!-- <div class="tool" (click)="pageBreak()">

          <img src="assets/Icons/editIcons/share.svg" alt="" />
        </div> -->
        <div class="tool" (click)="zoomOut()" title="Zoom Out">
          <!-- Zoom Out -->
          <img src="assets/Icons/editIcons/zoom-out.png" alt="" />
        </div>
        <p class="currentZoom" title="Current Zoom">{{ getZoom() }}</p>
        <div class="tool" (click)="zoomIn()" title="Zoom In">
          <!-- Zoom In -->
          <img src="assets/Icons/editIcons/zoom-in.png" alt="" />
        </div>
      </div>
      <div class="pageIconWrapper"></div>
      <div class="miscWrapper"></div>
    </div>
    <!-- <div class="speedDialEditMenu">
      <p-speedDial class="speedDial" [model]="speedDialItems" direction="down"></p-speedDial>
    </div> -->
  </div>

  <div class="editor">
    <p-button class="showAssetSidebar" icon="pi pi-arrow-right" (click)="hideSideBar()" title="Show Asset Bar"></p-button>
    <div class="assetSidebar">
       <div class="sidebarHeaderWrapper">
        <div class="sidebarHeader">
          <div class="sidebarHeaderIconWrapper backWrapper" (click)="hideSideBar()" title="Hide Asset Bar">
            <img class="sidebarHeaderIcon" src="assets/Icons/editIcons/back.svg" alt="" />
          </div>

          <div class="sidebarHeaderTextWrapper">
            <h4 class="sidebarHeaderText">Assets</h4>
          </div>
          <div class="uploadAssetIcon">
            <div class="sidebarHeaderIconWrapper" title="Upload Image">
              <img
                class="sidebarHeaderIcon"
                src="assets/Icons/editIcons/plus.png"
                alt=""
              />
            </div>

            <div class="dropdownContent">
              <div class="dropdownInput" (click)="navigateToPage('camera')">
                <img class="dropdownIcon1" src="assets/Icons/editIcons/addAsset.png" alt="">
                <p class="dropdownOptions" >
                  Camera
                </p>
              </div>
              <div class="dropdownInput" (click)="showImageUploadPopup()">
                <img class="dropdownIcon2" src="assets/Icons/editIcons/upload.png" alt="">
                <p class="dropdownOptions" >
                  Upload
                </p>
              </div>
            </div>
          </div>

          <div class="sidebarHeaderIconWrapper" (click)="refreshSidebar()" title="Refresh">
            <img class="sidebarHeaderIcon" src="assets/Icons/editIcons/refresh.svg" alt="" />
          </div>
        </div>
        <hr />
      </div>

      <div class="alignDiv"></div>
      <p *ngIf="noAssetsAvailable" style="text-align: center;">No Assets Available</p>
      <div class="spinnerWrapper" *ngIf = "assets.length === 0 && !noAssetsAvailable" ><img class="spinner" src="assets/Spinner/loading2.gif" title="Loading..."></div>

      <div *ngFor="let obj of assets" class="assetWrapper" title="{{ 'File Name: '+obj.FileName }}">
        <div *ngIf="obj.Deleted||obj.NotRetrieving" class="deleteSpinnerWrapper" ><img class="spinner" src="assets/Spinner/loading2.gif" title="Loading..."></div>
        <div *ngIf="!obj.Deleted&&!obj.NotRetrieving" style="margin:0; padding:0;">
          <div class="assetHeader">
            <div class="assetName">
              <!-- <h4 class="assetNameText"></h4> -->
              <label for="editAsset" class="displayNone">b</label>
              <input
                type="text"
                editable="true"
                id="editAssetMock"
                class="assetNameText"
                value="{{ obj.FileName }}"
                maxlength="50"
                (blur)="renameAsset(obj.AssetID, $event)"
                title="{{ obj.FileName }}"
              />
            </div>

            <div class="deleteAsset" [ngClass]="{'deleteAssetHover': obj.Format === 'text'}" title="View Text" (click)="retrieveAsset(obj.AssetID, obj.Format, obj.TextID)">
              <img
                *ngIf="obj.Format === 'text'"
                class="copyAssetIcon"
                src="assets/Icons/editIcons/view.png"
                alt=""
              />
            </div>

            <div class="copyAsset" title="Delete Asset" (click)="deleteAsset(obj.AssetID)">
              <img
                class="deleteAssetIcon"
                src="assets/Icons/editIcons/delete.png"
                alt=""
              />
            </div>

            <div class="copyTextAsset" title="Copy Image" *ngIf="obj.Format === 'image'" (click)="retrieveAsset(obj.AssetID, obj.Format, obj.TextID)">
              <img
                class="copyTextIcon"
                src="assets/Icons/editIcons/copy.svg"
                alt=""
              />
            </div>

            <div *ngIf="obj.Format==='text'" class="copyTextAsset" title="Copy All Text" (click)="copyAllText(obj.AssetID, obj.Format, obj.TextID)">
              <img
                class="copyTextIcon"
                src="assets/Icons/editIcons/copy.svg"
                alt=""
              />
            </div>
          </div>
          <div class="assetContent">
            <img class="assetImage" src="{{ obj.Image }}" alt="" />
            <div class="assetDescription">

              <p class="assetDescription">{{ capitalizeFirstLetter(obj.Format) }}</p>
              <p class="assetDescription">{{ formatDate(obj.DateCreated) }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--    Below is the code that allows me to work with CKEditor    -->
    <div class="center-page">
      <div class="document-editor" style="overflow: hidden">
        <div class="document-editor__toolbar"></div>
        <div class="document-editor__editable-container" style="overflow: hidden">
          <div class="document-editor__editable" id="editor-contents" style="overflow: hidden"></div>
        </div>
      </div>
      <br />
      <br />
      <br />
    </div>
  </div>
</div>

<p-dialog class="extractedTextDialog" header="Extracted Text:"
  [(visible)]="textCopyDialog" [modal]="true"
  [style]="{ width: '30vw', minWidth: '300px' }"
  [focusOnShow]="true">

  <div *ngFor="let text of textFromAsset" class="copyTextWrapper">
    <p class="copyText">{{ text }}</p>
    <div class="copyTextIconWrapper">
      <img
        class="copyTextIcon"
        (click)="copyTextToClipboard(text)"
        src="assets/Icons/editIcons/copy.svg"
        alt=""
      />
    </div>
  </div>
  <p *ngIf="textFromAsset.length===0">No text detected :(</p>
</p-dialog>


