@import '../../styles.scss';

$sidebar-content-width: 225px;

.container {
    width: 100%;
}

.header {

    overflow-x: hidden;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background-image: linear-gradient(to right, #ffffff, #e7e7e7);
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    width: 100%;
}


.titleWrapper {
    display: flex;
    margin: 10px;
    margin-left: 20px;
    height: 52px;
}

.docTitleWrapper {
    display: flex;
    margin-left: 10px;
}



.toolsWrapper {
    display: flex;
    margin-left: 10px;
}

.documentTitle {
    margin: auto;
    font-size: 22px;
    font-weight: bold;
    border: 1px solid #00000000;
    border-radius: 5px;
    transition: 0.3s;
}

.documentTitle:hover {
    border: 1px solid #000000;
}

.documentTitle:focus {
    border: 1px solid #000000 !important;
}

.tool {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;

}

.tool img {
    width: 30px;
    height: 30px;
}

.tool:hover {
    cursor: pointer;
    background-color: $light-grey;
}

.dropdownWrapper {
    margin: 10px;
}

.dropdownInput {
    margin: 0;
    background-color: #d9d9d9;
    padding: 5px;
    border-radius: 5px;
}

.dropdownText {
    margin: auto;
    white-space: nowrap;
}

.dropdownContent {
    display: none;
    position: fixed;
    background-color: $light-grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;

    border-radius: 5px;
}

.dropdownInput:hover {
    cursor: pointer;
    background-color: darken($light-grey, 10%);
}

.dropdownWrapper:hover .dropdownContent {
    display: block;
    cursor: pointer;
}

.logoWrapper {
    height: 52px;
}

.logo {
    width: 50px;
}

.editor {
    display: flex;
    position: absolute;

    top: 127px;
    left: 260px;
    z-index: -10;
    margin: 0;
    overflow: auto;
    flex-grow: 1;

    width: calc(100% - 260px);
    max-height: calc(100svh - 127px);
}


.page {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    margin-left: max(50px, auto);
    height: 1188px;
    width: 740px;
    min-width: 840px;
    background-color: #ffffff;
    overflow-x: auto;
}



.assetSidebar {
    position: fixed;
    top: 127px;
    left: 0;
    bottom: 0;
    width: 260px;
    background-color: #ffffff;
    border-right: 1px solid #c7c7c7;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.pageName {
    width: 100%;
    height: 100%;
    position: relative;
    top: 50px;
    left: 100px;
}

div[contenteditable="true"]:focus {
    outline: none;

}

.sidebarHeaderWrapper {
    background-color: #ffffff;
    width: 252px;
    position: fixed;
}

.sidebarHeader {
    display: flex;
    margin: auto;
    width: $sidebar-content-width;
}

.sidebarHeaderText {
    margin: auto;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
}

.sidebarHeaderTextWrapper {
    margin: auto;
    margin-left: 40px;
    text-align: justify;
}

.sidebarHeaderIconWrapper {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    margin: 15px;
    margin-right: 0px;
}

.backWrapper {
    margin-left: 0px !important;
}

.sidebarHeaderIcon {
    margin: auto;
    width: 25px;
}

.sidebarHeaderIconWrapper:hover {
    cursor: pointer;
    background-color: $light-grey;
}

.assetSidebar hr {
    border: 1px solid #c7c7c7;
    margin: auto;
    width: $sidebar-content-width;
}

.alignDiv {
    height: 80px;
}

.assetWrapper {
    margin: auto;
    width: $sidebar-content-width;
    height: 157px;
    border-radius: 8px;

    background-color: #f0f0f0;
    margin-bottom: 30px;
}

.assetHeader {
    display: flex;
    padding: 10px;
}

.assetNameText {
    margin: auto;
    font-size: 18px;
}

.copyAsset {
    margin-right: 0;
    margin-left: auto;
}

.menu {
    margin-left: 10px;

}

.menuIcon {
    margin-bottom: 3px;
}

.assetContent {
    display: flex;
    margin: 10px;
    margin-top: 0;
}

.assetImage {
    margin: 0;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid #000000;
}

.assetDescription {
    margin-left: 5px;
}

.displayNone {
    display: none;
}

.quill-editor{
    border: none;
}