<div class="header">

    <div class="toolbarWrapper">
        <div class="titleWrapper">
            <div class="logoWrapper">
                <img class="logo" src="assets/Logos/WriteToPdf_Logo_white.png" alt="">
            </div>
            <div class="docTitleWrapper">
                <h3 class="documentTitle">Document Title</h3>
            </div>
        </div>
        <div class="toolsWrapper">
            <div class="tool">
                <img src="assets/Icons/editIcons/download.svg" alt="">
            </div>
            <div class="tool">
                <img src="assets/Icons/editIcons/share.svg" alt="">
            </div>
            <div class="tool">
                <img src="assets/Icons/editIcons/undo.svg" alt="">
            </div>
            <div class="tool">
                <img src="assets/Icons/editIcons/redo.svg" alt="">
            </div>
            <div class="tool">
                <img src="assets/Icons/editIcons/bold.svg" alt="">
            </div>
            <div class="tool">
                <img src="assets/Icons/editIcons/italic.svg" alt="">
            </div>
            <div class="tool">
                <img src="assets/Icons/editIcons/strikethrough.svg" alt="">
            </div>
            <div class="tool">
                <img src="assets/Icons/editIcons/unorderedList.svg" alt="">
            </div>
            <div class="tool">
                <img src="assets/Icons/editIcons/orderedList.svg" alt="">
            </div>
            <div class="dropdownWrapper">
                <div class="dropdownInput">
                    <h4 class="dropdownText">Heading 1</h4>
                </div>
                <div class="dropdownContent">
                    <p>HI</p>
                    <p>HI</p>
                    <p>HI</p>
                    <p>HI</p>
                    <p>HI</p>
                </div>
            </div>
        </div>
    </div>
    <div class="pageIconWrapper"></div>
    <div class="miscWrapper"></div>
</div>

<div class="editor">
    <div class="assetSidebar">

    </div>


    <div class="page" contenteditable="true" (input)="onContentChange($event)" tabindex="0">
        {{ documentContent }}
    </div>

</div>