<div class="signupWrapper">

    <form action="" class="signupForm">

        <div class="logoWrapper">
            <hr />
            <img src="assets/Logos/WriteToPdf_Logo_white.svg" alt="" class="logo">
            <hr />
        </div>

        <div>
            <h3 class="heading">Signup</h3>

        </div>

        <div class="labelElement">
            <label for="username">Username</label>
        </div>
        <div class="formElement">
            <input type="text" name="username" id="username" placeholder="" class="textBox" [(ngModel)]="username">

        </div>
        <div class="labelElement">
            <label for="email">Email</label>
        </div>
        <div class="formElement">
            <input type="text" name="email" id="email" placeholder="" class="textBox" [(ngModel)]="email">

        </div>


        <div class="labelElement">
            <label for="password">Password</label>
        </div>
        <div class="formElement">
            <input type="password" name="password" id="password" placeholder="" class="textBox" [(ngModel)]="password">
        </div>

        <div class="labelElement">
            <label for="confirmPassword">Confirm Password</label>
        </div>
        <div class="formElement">
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="" class="textBox" [(ngModel)]="confirmPassword">
        </div>


        <div class="formElement">
            <button (click)="signup()" type="button" class="signupButton">Signup</button>

        </div>
        <div class="formElement">

            <button (click)="navigateToPage('home')" type="button" class="googleButton">

                <img src="assets/Icons/loginIcons/google.png" alt="" class="googleIcon">
                Signup With Google
            </button>

        </div>

        <div class="formElement noAccount">
            <p (click)="navigateToPage('login')" class="noAccountText">Already have an Account?</p>
        </div>
    </form>
</div>