.container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}
.header {
  position: fixed;
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  background-image: linear-gradient(to right, #ffffff, #e7e7e7);
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 112px;
  justify-content: space-between;
}

.logoWrapper{
  display: flex;
  align-items: center;
}

.logo {
  width: 75px;
  height: 77px;

}

.headerNavigation{
  display: flex;
}

.navigationItems{
  width:-moz-fit-content;
  width: fit-content;
  margin: auto;
}

.navigationIcon{
  width: 60px;
  height: 50px;

}

.headerToolbarLeft{
  display: flex;
}
.headerToolbarLeft .icon{
  width: 50px;
  padding: 4px;
  padding-top: 30px;
  height: 50px;
}


.sideBarWrapper{
  //Positioning
  position: absolute;
  width: 245px;
  height: 100%;
  left: 0px;
  top: 112px;
  // Colour
  background: linear-gradient(360deg, rgba(255, 255, 255, 0) -3.74%, #D2D2D2 -3.74%, rgba(217, 217, 217, 0) 97.6%);
  /* Main Colours/Dark Gray */
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #6F6F6F;
  //TODO implement infinite length in ts
}

.documentPreviewSideBar{
  //positioning
  //TODO Fix scroll stuff
  position: relative;
  width: 351px;
  height: 911px;
  float: right;
  top:105px;
  //colours
  background: linear-gradient(180deg, #E2E2E2 1.15%, #000000 99.99%);
  /* Main Colours/Dark Gray */
  border: 1px solid #6F6F6F;
  //TODO implement infinite length in ts
}

.documentPreviewTitle{
  position: relative;
  left: 20px;
}

.mainWindowHome{
  padding-right: 50px;
  padding-left: 50px;

}
