@import '../../styles.scss';

.container {
  width: 100%;
  // overflow-x: auto;
  // white-space: nowrap;
}

.fileOperations-container{

}

.fileOperations {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.fileOperations-entity{
  padding:8px;
  justify-content: center;
  align-items: center;
}

//Code Section Header Styling
.header {
  margin-top:-10px;
  margin-left:-8px;
  position: fixed;
  display: flex;
  grid-auto-flow: column;
  //overflow-x: auto;
  background-image: linear-gradient(to left, #ffffff, #e7e7e7);
  //border-bottom: 1px solid #ccc;
  //box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-image:linear-gradient(to left, #ffffff, $dark-grey) ;
  border-image-width: 0 0 1px;
  border-image-slice:1;
  width: 100%;
  height: 112px;
  //justify-content: space-between;
  z-index: 10;
  margin:0;
}
.speedDialEditMenu{

  margin-right:100px;
  margin-top:24px;

}

.logoWrapper {
  margin-left: 17px;
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.logo {
  width: 75px;
  height: 77px;
}

.headerNavigation {
  //TODO rename this to something more relevant
  display: flex;
  margin: auto;
  margin-left: 153px;
}

/**
@Julian, please help me to get this menubar floating in line with the left sidebar's edge, it does not want
to co-operate.
 */
.menuBar {

  // margin-left: 550px;
  position:relative;
  .p-menuitem-link{
    z-index:9999999999;
  }

}


//END Code section header styling
//Left Sidebar styling

#scrollingDiv {
  overflow: auto;
  //height: 300px; /* Set an appropriate height */
}

#fadingDiv {
  position: relative;
  //background-color: #FF0000; /* Set the original color */
  //height: 300px; /* Set an appropriate height */
}


.leftSideBarWrapper {
  //Positioning
  z-index:0;
  position: fixed;
  width: 245px;
  height: 110%;
  left: 0px;

  top: 112px;
  // Colour
  overflow:auto;
  background-color: white;
  opacity: 100%;
  /* Main Colours/Dark Gray */
  border-width: 0px 1px 1px 0px;
  border-style: solid;
  border-color: #6F6F6F;
}

.directoryTree{
  overflow: auto;
}

.cdk-drag {
  pointer-events: auto;
}

.leftSideBarHeading {
  padding-top: 15px;
  padding-left: 50px;
}

.leftSideBarTools .icon {
  width: 30px;
  height: 30px;
  padding: 4px;
}

.leftSideBarTools {
  padding: 5px;
}





.mainWindowHome {
  margin-left: 250px;
  margin-right: 150px;
  margin-top: 120px;
  width: auto;
  display: inline-block;
  z-index: 0;
}

.mainWindowHome .directoryContents {
  padding-top: 20px;
}

//Below is the styling for the directory path

.directoryPath {
  padding: 4px;
  width: auto;
}
// Below is the styling for the toolbar above the files in the main window
.toolbarItem{
  padding-left:10px;
  padding-right:10px;
 }
.p-toolbar{
  background-color: white;
}
// Below is the styling for the searchBar
.searchBar {
  margin-top: 15px;
  box-sizing: border-box;
  position: relative;
  padding: 10px;
  width: auto;
  background: #F7F7F7;
  /* Main Colours/Dark Gray */
  border: 1px solid #6F6F6F;
  border-radius: 96px;
}


.searchBar input[type="text"],
textarea {
  background-color: #F7F7F7;
  border: none;
  width: 90%;
}

.searchBar input[type=text]:focus {
  outline: none;
}

.searchBar img {
  height: 15px;
}

.searchBar input {
  padding: 5px;
}

.searchBar:focus-within{
  border: 1.3px solid black;
}

.moveDialogueContainer{
  display: flex;
}

.drag-hover:hover {
  // background-color: lightgray !important;
  /* Add other styles as needed */
  z-index: 1;
}

.non-selectable {
  -webkit-user-select: none;
  user-select: none;
}