<div class="container" data-testid="home-page">

  <div class="header">

    <div class="logoWrapper" (click)="navigateToPage('home')">
      <img class="logo" src="assets/Logos/WriteToPdf_Logo_white.png" alt="Home Page">
    </div>

    <div class="headerNavigation">
      <div class="menuBar">
        <p-menubar [model]="menuBarItems"></p-menubar>
      </div>
    </div>

<!--    <div class="headerToolbarRight">-->
<!--      <img class="icon createNew" src="assets/Icons/homeIcons/headerRightToolbar/newFile.png" alt="" (click)="navigateToPage('edit')">-->
<!--      <img class="icon" src=" assets/Icons/homeIcons/headerRightToolbar/openScan.png" alt="">-->
<!--      <img class="icon" src=" assets/Icons/homeIcons/headerRightToolbar/uploadFile.png" alt="">-->
<!--      <img class="icon" src=" assets/Icons/homeIcons/headerRightToolbar/settings.png" alt="">-->
<!--    </div>-->

  </div>

  <div class="leftSideBarWrapper">
    <div class="leftSideBarHeading">Conrad's Projects</div>
    <div class="leftSideBarTools">
      <img class="icon" src="assets/Icons/homeIcons/leftSideBarIcons/newDirectory.png" >
      <img class="icon" src="assets/Icons/homeIcons/leftSideBarIcons/newDocument.png" >
      <img class="icon" src="assets/Icons/homeIcons/leftSideBarIcons/newScan.png" >
    </div>
    <div class="directoryTree">
      <p-tree class="w-full md:w-30rem" [value]="filesDirectoryTree"></p-tree>
  </div>
    </div>
  <div class="mainWindowHome">
    <div class="directoryPath">
      <p-breadcrumb class="max-w-full" [model]="activeDirectoryItems" [home]="directoryHome"></p-breadcrumb>
    </div>
    <div class="searchBar">
      <img src="assets/Icons/homeIcons/mainWindow/searchIcon.png">
      <input type="text" class="search-input" placeholder="Search...">
    </div>
    <div class="directoryContents">
      <p-treeTable [value]="filesDirectoryTreeTable" [scrollable]="true" [tableStyle]="{'min-width':'50rem'}">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Type</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
          <tr [ttRow]="rowNode">
            <td>
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              {{ rowData.name }}
            </td>
            <td>{{ rowData.size }}</td>
            <td>{{ rowData.type }}</td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
  </div>
  <div class = "rightSidebar">

  </div>
</div>
