@import '../../styles.scss';

$file-height: 50px;

.container {
  width: 100%;
  z-index: -4;
  // overflow-x: auto;
  // white-space: nowrap;
}

.fileOperations-container {}

.fileOperations {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.fileOperations-entity {
  padding: 8px;
  justify-content: center;
  align-items: center;
}

//Code Section Header Styling
.header {
  top: 0;
  // margin-top:-10px;
  // margin-left:-8px;
  position: fixed;
  display: flex;
  grid-auto-flow: column;
  //overflow-x: auto;
  background-image: linear-gradient(to left, #ffffff, #f7f9fc);
  border-bottom: 1px solid #ccc;
  //box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  width: 100%;
  height: 112px;
  //justify-content: space-between;
  z-index: 5;
  margin: 0;
}

.speedDialEditMenu {
  margin-left: auto;
  margin-right: 160px;
  margin-top: 24px;

}

.logoWrapper {
  margin-left: 17px;
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.logo {
  width: 75px;
  height: 77px;
}

.headerNavigation {
  //TODO rename this to something more relevant
  // display: flex;
  margin: auto;
  margin-left: 10px;
  flex-grow: 1;
}

/**
@Julian, please help me to get this menubar floating in line with the left sidebar's edge, it does not want
to co-operate.
 */
.p-menubar {
  width: 400px;
  //min-width: 400px;
  position: relative;
  border: 0;
  z-index: 10;
  background-color: #00000000;
}



//END Code section header styling
//Left Sidebar styling

#scrollingDiv {
  overflow: auto;
  //height: 300px; /* Set an appropriate height */
}

#fadingDiv {
  position: relative;
  //background-color: #FF0000; /* Set the original color */
  //height: 300px; /* Set an appropriate height */
}


.leftSideBarWrapper {
  //Positioning
  z-index: 3;
  position: fixed;
  width: 245px;
  height: 110%;
  left: 0px;
  top: 112px;
  // Colour
  overflow: auto;
  opacity: 100%;
  box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.1);
  /* Main Colours/Dark Gray */

  z-index: 2;
}

.p-tree {
  background: #00000000 !important;
  border: none !important;
}

.directoryTree {

  overflow: auto;
  padding-top: 9px;
  z-index: 3;
}

.cdk-drag {
  pointer-events: auto;
}

.leftSideBarHeading {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  //  padding-left: 50px;
}

.leftSideBarTools .icon {
  width: 42px;
  height: 42px;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
}

.leftSideBarTools .icon:hover {
  background-color: darken($light-grey, 10%);
  transition: 0.5s;
}

.leftSideBarTools {
  padding: 5px;
  gap: 15px;
  display: flex;
  //  margin-left:10px;
  justify-content: center;
}






.mainWindowHome {
  margin-left: 250px;
  margin-right: 150px;
  margin-top: 120px;
  display: inline-block;
  z-index: 0;
  position: absolute;
  overflow-x: hidden;
}

//Below is the styling for the directory path

.directoryPath {
  padding: 4px;
  width: auto;
}

// Below is the styling for the toolbar above the files in the main window
.toolbarItem {
  padding-left: 10px;
  padding-right: 10px;
}

.p-toolbar {
  background-color: white;
  //  padding-top:10px;
}

// Below is the styling for the searchBar
.searchBar {
  margin-top: 18px;
  margin-left: 15px;
  margin-right: 15px;
  box-sizing: border-box;
  position: relative;
  padding: 10px;
  margin-left: 8px;
  width: auto;
  background: #F7F7F7;
  /* Main Colours/Dark Gray */
  border: 1px solid #6F6F6F;
  border-radius: 96px;
}


.searchBar input[type="text"],
textarea {
  background-color: #F7F7F7;
  border: none;
  width: 90%;
}

.searchBar input[type=text]:focus {
  outline: none;
}

.searchBar img {
  height: 15px;
}

.searchBar input {
  padding: 5px;
}

.searchBar:focus-within {
  border: 1.3px solid black;
}

.moveDialogueContainer {
  display: flex;
}

.drag-hover {
  background-color: rgb(174, 172, 255) !important;
  border: #000000 dashed 1px !important;
  /* Add other styles as needed */
  // z-index: 1;
}

.non-selectable {
  -webkit-user-select: none;
  user-select: none;
}

// .dragging{
//   background-color: lightgray !important;
//   /* Add other styles as needed */
//   z-index: 21 !important;
//   display:inline-block;
//   width: 100px !important;
// }

// .dragging:nth-child(1)> :nth-child(2),
// .dragging:nth-child(1)> :nth-child(3) {
//   display: none !important;
// }

.dropdownWrapper {
  margin: 10px;
}

.dropdownInput {
  display: flex;
  transition: 0.5s;
  margin: 0;
  background-color: lighten($light-grey, 10%);
  padding: 5px;
  border-radius: 5px;
}

.dropdownText {
  margin: auto;
  white-space: nowrap;
}

.dropdownContent {
  display: none;
  transition: 0.5s;
  position: fixed;
  background-color: lighten($light-grey, 10%);
  min-width: 100px;
  // margin-left: 15px;
  // margin-top: -15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  border-radius: 5px;
}

.dropdownInput:hover {
  cursor: pointer;
  background-color: darken($light-grey, 10%);
}

.dropdownOptions {
  margin: 0;
  padding: 0;
  border-radius: 5px;
  vertical-align: middle;
}

.dropdownIcon1 {
  margin: auto;
  height: 20px;
  margin-left: 0;
  margin-right: 5px;
}

.dropdownIcon2 {
  margin: auto;
  height: 20px;
  margin-left: 2px;
  margin-right: 7px;
}

.uploadAssetIcon:hover .dropdownContent {
  display: block;
  cursor: pointer;
}

.spinner {
  margin: auto;
  height: 50px;
}

.spinnerWrapper {
  position: absolute;
  display: flex;
  margin: auto;
  height: 50px;
}

.directoryHeader {
  display: flex;
  width: 70vw;
  height: $file-height;
  background-image: linear-gradient(to right, #f6f6f6, #f7f9fc, #f6f6f6);
  border-bottom: 1px #ccc solid;

  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fileItem,
.moveFileItem {
  display: flex;
  box-sizing: content-box;
  width: 70vw;
  height: $file-height;
  background-color: lighten($light-grey, 10%);
  border: 1px solid #00000000;
  border-bottom: 1px #ccc solid;

  // -webkit-user-drag: none;
  //   -moz-user-drag: none;
  //   -ms-user-drag: none;
  //   user-drag: none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.moveFileItem {
  width: 40vw !important;
}

.defaultFile:hover {
  cursor: pointer;
  background-color: $light-grey;
}

.selected:hover {
  cursor: pointer;
}

.iconSpacing {
  flex: 1;
  /* Distribute available space equally */
  display: flex;
  /* Nested flex containers for alignment */
  align-items: center;
  /* Align items vertically */
  justify-content: left;
  /* Align items horizontally */
  // border: 1px solid #ccc;
  /* Just for visualization, remove in production */
  overflow: hidden;
}

.fileItemIcon {
  width: 30px;
  height: 30px;
  margin: auto;
}

.nameHeader,
.sizeHeader,
.dateHeader {
  flex: 2;
  /* Distribute available space equally */
  display: flex;
  /* Nested flex containers for alignment */
  align-items: center;
  /* Align items vertically */
  justify-content: left;
  /* Align items horizontally */
  // border: 0px solid #ccc;
  /* Just for visualization, remove in production */
  overflow: hidden;
}

.fileName {
  font-weight: bold;
  border: 1px solid #00000000;
  border-radius: 5px;
  transition: 0.3s;
  background-color: #00000000;
}

.fileName:hover {
  border: 1px solid #000000;
}

.fileName:focus {
  border: 1px solid #000000 !important;
}

.iconSpacing .icon {
  margin: auto;
  width: 42px;
  height: 42px;
  padding: 4px;
  border-radius: 5px;
}

.iconSpacing .hover:hover {
  cursor: pointer;
  background-color: darken($light-grey, 10%);
  transition: 0.5s;
}

.selectedFile {
  background-color: #b4e4ff;
}

.lockIcon {
  transition: 0.5s;
  width: 40px;
  height: 40px;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
}

.lockIcon:hover {
  background-color: darken($light-grey, 10%);
}

.folderName{
  margin:20px 10px 0;
}