<div class="container" data-testid="home-page">
  <p-toast></p-toast>
  <div class="header">
    <div class="logoWrapper" (click)="navigateToPage('home')">
      <img
        class="logo"
        src="assets/Logos/WriteToPdf_Logo_white.png"
        alt="Home Page"
      />
    </div>
    <div class="headerNavigation">
      <div class="menuBar">
        <p-menubar [autoZIndex]="false" [model]="menuBarItems"></p-menubar>
      </div>
    </div>
    <p-dialog
      header="Export File"
      [(visible)]="moveDialogVisible"
      [style]="{ width: '50vw' }"
    >
      <div class="flex py-2 justify-content-center moveDialogueContainer">
        <p>
          Move {{ getEntityToMoveName() }} to: {{ getCurrentDirectoryName() }}
        </p>
        <p-button label="Move" (click)="moveEntity()"></p-button>
        <!-- <input type="text" pInputText [(ngModel)]="folderTo" /> -->
      </div>
    </p-dialog>

    <div class="speedDialEditMenu">
      <p-speedDial
        class="speedDial"
        [model]="speedDialItems"
        direction="down"
      ></p-speedDial>
    </div>
    <p-dialog
      header="Create Document"
      [modal]="true"
      [(visible)]="createNewDocumentDialogueVisible"
      [style]="{ width: '50vw' }"
    >
      <div class="flex py-2 justify-content-center"></div>
      <p>Document Name:</p>
      <input
        type="text"
        pInputText
        [(ngModel)]="entityName"
        label="Document Name: "
      />
      <br />
      <br />
      <p-button label="Create" (click)="createNewDocument()"></p-button>
    </p-dialog>

    <p-dialog
      header="Create Folder"
      [modal]="true"
      [(visible)]="createNewFolderDialogueVisible"
      [style]="{ width: '50vw' }"
    >
      <div class="flex py-2 justify-content-center"></div>
      <p>Folder Name:</p>
      <input
        type="text"
        pInputText
        [(ngModel)]="entityName"
        label="Folder Name: "
      />
      <br />
      <br />
      <p-button label="Create" (click)="newFolder()"></p-button>
    </p-dialog>
  </div>

  <div id="scrollingDiv" class="leftSideBarWrapper">
    <div class="leftSideBarHeading">{{ getUserFirstName() }}'s Projects</div>
    <div class="leftSideBarTools">
      <img
        class="icon"
        src="assets/Icons/homeIcons/leftSideBarIcons/newDirectory.png"
        (click)="createNewFolderDialogueVisible = true"
      />
      <img
        class="icon newDoc"
        src="assets/Icons/homeIcons/leftSideBarIcons/newDocument.png"
        (click)="navigateToPage('edit')"
      />
      <img
      (click)="navigateToPage('camera')"
        class="icon"
        src="assets/Icons/homeIcons/leftSideBarIcons/newScan.png"
      />
    </div>
    <div class="directoryTree">
      <p-tree
        [value]="filesDirectoryTree"
        class="w-full md:w-30rem"
        selectionMode="single"
        (onNodeSelect)="onNodeSelect($event)"
        [(selection)]="treeSelectedFile"
      ></p-tree>
    </div>
  </div>
  <div id="fadingDiv" class="mainWindowHome">
    <!--    TODO reimplement the directory path for this breadCrumb component after Demo2 -->
    <!--    <div class="directoryPath">-->
    <!--      <p-breadcrumb class="max-w-full" [model]="activeDirectoryItems" [home]="directoryHome" ></p-breadcrumb>-->
    <!--    </div>-->
    <div class="filterButtons">
      <p-toolbar>
        <div class="p-toolbar-group-start">
          <p-button
            class="toolbarItem"
            (onClick)="reloadMainFromRoot()"
            label="Root"
          ></p-button>
          <p-toggleButton
            class="toolbarItem"
            [(ngModel)]="editToggle"
            onLabel="Edit"
            offLabel="Edit"
          ></p-toggleButton>
          <p-toggleButton
            class="toolbarItem"
            [(ngModel)]="recentToggle"
            onLabel="Recent"
            offLabel="Recent"
          ></p-toggleButton>
          <p-toggleButton
            class="toolbarItem"
            [(ngModel)]="selectToggle"
            onLabel="Select"
            offLabel="Select"
          ></p-toggleButton>
        </div>
      </p-toolbar>
    </div>
    <div class="searchBar">
      <img src="assets/Icons/homeIcons/mainWindow/searchIcon.png" />
      <input
        type="text"
        class="search-input"
        placeholder="Search..."
        (input)="filterTable($event, 0)"
      />
    </div>
    <div class="directoryContents">
      <!--      The Current directory variable below in the main view is used to allow for intelligent file placement-->
      <p-treeTable
        #myTreeTable
        [value]="filteredFilesDirectoryTreeTable"
        selectionMode="single"
        dataKey="name"
        (onNodeSelect)="outputCurrDir()"
        [(selection)]="currentDirectory"
        [columns]="treeTableColumns"
        [scrollable]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
          </tr>
        </ng-template>

        <ng-template
          pTemplate="body"
          let-rowNode
          let-rowData="rowData"
          let-columns="columns"
        >
          <tr [ttRow]="rowNode" [ttRow]="rowNode" [ttSelectableRow]="rowNode">
            <td
              *ngFor="let col of columns; let i = index"
              ttEditableColumn
              [ngClass]="{ 'p-toggler-column': i === 0 }"
            >
              <p-treeTableToggler
                [rowNode]="rowNode"
                *ngIf="i === 0"
              ></p-treeTableToggler>

              <p-treeTableCellEditor *ngIf="i === 0 && editToggle">
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="text"
                    [(ngModel)]="rowData[col.field]"
                    (focus)="valueBeforeEdit = rowData[col.field]"
                    (focusout)="
                      onRowLabelEdit(
                        (rowData[col.field] =
                          rowData[col.field].trim() === ''
                            ? valueBeforeEdit
                            : rowData[col.field]),
                        rowNode
                      )
                    "
                    (keydown.enter)="
                      onRowLabelEdit(
                        (rowData[col.field] =
                          rowData[col.field].trim() === ''
                            ? valueBeforeEdit
                            : rowData[col.field]),
                        rowNode
                      )
                    "
                  />
                </ng-template>
                <ng-template pTemplate="output">{{
                  rowData[col.field]
                }}</ng-template>
              </p-treeTableCellEditor>

              <ng-container *ngIf="i === 0 && !editToggle">
                {{ rowData[col.field] }}
              </ng-container>
              <ng-container *ngIf="i > 0">
                {{ rowData[col.field] }}
              </ng-container>
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
  </div>
  <!-- file-upload-popup.component.html -->
</div>
