<p class="c">WOKOWKOWKDOKD</p>
<div class="container mt-5">
    <h2>Angular Webcam Capture Image from Camera</h2>
    <div class="col-md-12">
        <webcam [trigger]="invokeObservable" (imageCapture)="captureImg($event)"></webcam>
    </div>
    <div class="col-md-12">
        <button class="btn btn-danger" (click)="getSnapshot()">
            Capture Image
        </button>
    </div>
    <div class="col-12">
        <div id="results">Your taken image manifests here...</div>
        <img [src]="webcamImage.imageAsDataUrl" height="400px" alt="" />
    </div>
</div>