@import '../../styles.scss';

$top-bottom-color: #202221;

.container {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100svw;
    height: 100svh;

    overflow: hidden;
    margin: auto;


}


.backButton {
    margin: auto 0 auto 20px;
}

.retakeButton {
    margin: auto 20px auto auto;
}


.header {
    display: flex;
    background-color: $top-bottom-color;
    margin-bottom: 10px;
    min-height: 60px;
    width: 100%;
}

.footer {
    display: flex;
    align-items: center;
    background-color: $top-bottom-color;
    margin-top: 10px;
    min-height: 60px;
    width: 100%;
    justify-content: space-around;
}

.capture {
    display: flex;
    transition: 0.5s;
    margin: auto;
    margin-right: 140px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    border: 1px solid white;
}

.capture:hover {
    background-color: rgb(202, 202, 202);
    border: 5px solid black;
    cursor: pointer;
}

.camera {
    max-height: calc(100svh - 140px);
    max-width: 100svw;
}

.flipCamera {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    /* For Safari */
    -moz-transform: scaleX(-1);
    /* For Firefox */
    -ms-transform: scaleX(-1);
    /* For IE */
}

.webcamWrapper {
    max-height: calc(100svh - 140px);
    width: -moz-fit-content;
    width: fit-content;
    max-width: 100svw;
    margin: auto;
}

.previewImg {
    max-height: calc(100svh - 140px);
    width: 80svw;
    height: 80svh;
    object-fit: contain;
}

.imageWrapper {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    width: 80svw;
    height: 80svh;
}

.p-sidebar-header {
    padding: 0px;
}

.p-sidebar-footer {
    padding: 0px;
}

.notVisible {
    display: none;
}

.assetName {
    margin: auto 0;
    color: black;
    max-width: 39svw;
}

.uploadImage {
    margin: auto 0;
    color: white;
    max-width: 30svw;
}

.checkbox {
    margin: auto 0;
    background-color: #2196f3;
    padding: 8px;
    border-radius: 18px;
    color: white;
    max-width: 30svw;
}

.camIcon {
    margin: auto;
    width: 50%;
    height: 50%;
}


.startFooter {
    margin: auto;
    margin-right: 0;
    flex-grow: 1;
}

.endFooter {
    flex-grow: 1;
}

.flipButton {
    margin: auto;
}