<div class="container">
    <div class="popup-heading">
        <h2>Extracted Features</h2>
        <p-button (click)="closeDialog()" class="backButton" icon="pi pi-times" label="Back"
                  styleClass="p-button"></p-button>
    </div>
    <div class="dialog-container">
        <div class="left-section">
            <img [src]="assetImage" alt="Image">
        </div>
        <div class="right-section">
            <mat-tab-group [(selectedIndex)]="activeTab" class="centered-tabs">
                <mat-tab (click)="activeTab =0" label="Text">
                    <ng-template mat-tab-label>
            <span [ngClass]="{'activeTab':activeTab === 0}">
              Text
            </span>
                    </ng-template>
                    <br>
                    <textarea [(ngModel)]="paragraphText" class="editableForm" cols="40" rows="6"></textarea>
                    <p-button (click)="copyFormData()" class="copyFormData" icon="pi pi-copy"
                              label="Copy"
                              styleClass="p-button"></p-button>
                </mat-tab>
                <mat-tab (click)="activeTab =1" label="Tables">
                    <ng-template mat-tab-label>
            <span [ngClass]="{'activeTab':activeTab === 1}">
              Tables
            </span>
                    </ng-template>
                    <ng-template matTabContent>
                        <div id="tableDropDown">
                            <p-dropdown (ngModelChange)="onTableSelectionChange()"
                                        [(ngModel)]="selectedTable"
                                        [options]="tableOptions"
                                        placeholder="Select a table"
                                        class="tableDropDown">
                                <ng-template let-option pTemplate="dropdownItem">
                                    <i class="pi pi-table"></i> {{ option }}
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <br>
                        <br>
                        <div class="card">
                            <div class="card">
                                <p-table [tableStyle]="{ 'min-width': '25rem', 'max-width': '33rem' }"
                                         [value]="activeTable"
                                         class="tableCreated" dataKey="id">
                                    <ng-template let-rowData pTemplate="body">
                                        <tr>
                                            <td *ngFor="let col of getColumnKeys(rowData)">
                                                {{ rowData[col] }}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                        <br>
                        <div class = "pasteOperations">
                        <p class = "pasteDescriptor">Add To Document:</p>
                        <div class = "pasteButtons">
                        <p-button (click)="copyCurrentTable()" class="copyButton" icon="pi pi-copy" label="Copy Table"
                                  styleClass="p-button"></p-button>
                        <p-button (click)="copyAllTables()" class="copyButton" icon="pi pi-copy" label="Copy All Tables"
                                  styleClass="p-button"></p-button>
                        </div>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="buttons"></div>
    </div>
</div>
