<div class="loginWrapper">
    <p-toast ></p-toast>
    <form action="" class="loginForm">

        <div class="logoWrapper" (click)="autoLogin()">
            <hr />
            <img src="assets/Logos/WriteToPdf_Logo_white.svg" alt="" class="logo">
            <hr />
        </div>

        <div>
            <h3 class="heading">Login</h3>

        </div>

        <div class="labelElement">
            <label for="email">Email</label>
        </div>

        <div class="formElement">
            <input type="email" name="email" id="email" placeholder="" class="textBox" [(ngModel)]="email">

        </div>


        <div class="labelElement">
            <label for="password">Password</label>
        </div>
        <div class="formElement">
            <p-password name="password" id="password" placeholder="" class="password w-full" [(ngModel)]="password"
                [toggleMask]="true" styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [feedback]="false"></p-password>
        </div>


        <div class="formElement">
            <button (click)="login()" type="submit" class="loginButton">Login</button>

        </div>
        <div class="formElement">

            <button (click)="navigateToPage('home')" type="button" class="googleButton">

                <img src="assets/Icons/loginIcons/google.png" alt="" class="googleIcon">
                Login With Google
            </button>

        </div>

        <div class="formElement noAccount">
            <p (click)="navigateToPage('signup')" class="noAccountText">Don't have an Account?</p>
        </div>
    </form>
</div>