@import '../../styles.scss';

// .backgroundImage {
//     /* Set the background image */
//     /* Set the background image */
//         padding: 0;
//         margin: 0;
//         background-repeat: no-repeat;
//         background-size: cover;
//         width: 100vw;
//         height: 100vh;
//         background-image: radial-gradient(rgb(255 255 255 / 69%), rgb(0 0 0 / 75%), rgb(0 0 0)), url(/assets/MockData/BGI.jpg);
//         -webkit-background-size: cover;
//         -moz-background-size: cover;
//         -o-background-size: cover;
//         background-size: cover;

// }
.backgroundImage {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    /* Uncomment the following line if you want to use a linear gradient fallback */
    /* background: radial-gradient(at center, #3498db, #9b59b6); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* Center the background image */

    background-image: linear-gradient(rgba(100, 100, 100, 0.7), rgba(100, 100, 100, 0.7)), url(/assets/MockData/BGIW.jpg);
}

.loginWrapper {

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90vw;
    max-width: 420px;
    min-width: 280px;

    height: -moz-fit-content;
    height: fit-content;

    max-height: 95svh;
    overflow-y: auto;
    margin: auto;
    background-color: rgba($light-grey, 0.6);

    border-radius: 33px;

    padding-top: 5svh;

}

.loginForm {
    margin: auto;
    width: 100%;
}

.heading {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.logoWrapper {
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}

.logo {
    // width: 130px;
    max-width: 130px;
    height: 15svh;
    margin: auto;
}

@media screen and (max-height: 600px) {
    .logoWrapper {
        display: none;
    }
}
// .textBox {
//     border: 2px solid #ffffff;
//     border-radius: 90px;

//     background-color: $text-box-color;

//     height: 40px;
//     padding-top: 0 5%;
//     width: 80%;
//     margin: auto;
// }

.password {
    width: 80%;
    margin: auto;
    display: flex;
}

.newPassword {
    width: 80%;
    margin: auto;
    margin-left:0;
    display: flex;
}

:host ::ng-deep .p-inputtext {
    padding-left: 20px;
    border: 2px solid #ffffff;
    border-radius: 90px;

    background-color: $text-box-color ;

    height: 4svh;
    max-height: 40px;
    min-height: 30px;
    width: 80%;
    margin: auto;

}

.formElement {
    display: flex;
    margin-bottom: 20px !important;
    width: -moz-fit-content;
    width: fit-content;
    width: 100%;
    margin: auto;
}

.labelElement {
    margin-bottom: 10px !important;
    width: 80%;
    margin: auto;
    font-size: 18px;
    font-weight: regular;
}

.labelElement2 {
    margin-bottom: 10px !important;
    width: 80%;
    margin: auto;
    margin-left:0;
    font-size: 18px;
    font-weight: regular;
}

.loginButton {
    font-family: Cabin;
    border: none;
    border-radius: 90px;
    color:black;
    background-color: $text-box-color;

    height: 4svh;
    max-height: 40px;
    min-height: 30px;

    font-size: clamp(12px, 2svh, 16px);

    width: 50%;
    margin: auto;
    transition: 0.3s;
}

.loginButton:hover {
    box-shadow: 0 5px #666;
    transform: translateY(-4px);
}

.loginButton:active {
    box-shadow: 0 0px #666;
    transform: translateY(4px);
}

.googleButton {
    height:38px;
    font-family: Cabin;
    font-size: clamp(12px, 2svh, 16px);
    border-radius: 90px;
    margin: auto;
    transition: 0.3s;
}

.googleButton:hover {
    box-shadow: 0 5px #666;
    transform: translateY(-4px);

}

.googleButton:active {
    box-shadow: 0 0px #666;
    transform: translateY(4px);
}

hr {
    border: 1px solid black;
    width: 25%;
    margin: auto;
}

.noAccount {
    margin: auto;
}

.noAccountText:hover {
    cursor: pointer;
    text-decoration: underline;
}

.noAccountText {
    transition: 0.3s;
    margin: auto;
    font-size: 16px;
    font-weight: regular;
    -webkit-user-select: none;
    user-select: none;
}

.forgotPasswordForm {
    margin: auto;
    width: 80%;
}

.forgotEmail {
    width:100%;
}