<p-toast></p-toast>

<div class="backgroundImage" (mousemove)="movemouse($event)">
  <!-- Your component content goes here -->

  <div class="loginWrapper">
    <form action="" class="loginForm">
      <div class="logoWrapper" (click)="autoLogin()">
        <hr />
        <img src="assets/Logos/WriteToPdf_Logo_white.svg" alt="" class="logo" />
        <hr />
      </div>

      <div>
        <h3 class="heading">Login</h3>
      </div>

      <div class="labelElement">
        <label for="email">Email</label>
      </div>

      <div class="formElement">
        <input pInputText type="email" name="email" id="email" placeholder="" class="textBox" [(ngModel)]="email" />
      </div>

      <div class="labelElement">
        <label for="password">Password</label>
      </div>
      <div class="formElement">
        <p-password name="password" id="password" placeholder="" class="password w-full" [(ngModel)]="password"
          [toggleMask]="true" styleClass="p-password p-component p-inputwrapper p-input-icon-right"
          [style]="{ width: '100%' }" [inputStyle]="{ width: '100%' }" [feedback]="false"></p-password>
      </div>

      <div class="formElement">
        <button (click)="login()" type="submit" class="loginButton">Login</button>
      </div>
      <div class="formElement">
        <div class="googleButton" id="buttonDiv"></div>
      </div>
      
      <div class="formElement noAccount">
        <p (click)="forgotPasswordPopup = true" class="noAccountText">
          Forgot Password?
        </p>
      </div>
      <div class="formElement noAccount">
        <p (click)="navigateToSignup()" class="noAccountText">
          Don't have an Account?
        </p>
      </div>
    </form>
  </div>

  <!--
  <p-dialog [(visible)]="forgotPasswordPopup" [style]="{ width: '50vw' }" header="Reset Password" [focusOnShow]="true"
    (keydown.escape)="forgotPasswordPopup = false" [modal]="true">
    <div class="forgotPasswordForm">

      <div class="labelElement">
        <label for="emailForgot">Email</label>
      </div>
      <div class="formElement">
        <input pInputText type="email" name="emailForgot" id="emailForgot" placeholder="" class="textBox" [(ngModel)]="emailForgot" />
      </div>

      <div class="labelElement">
        <label for="passwordForgot">Password</label>
      </div>
      <div class="formElement">
        <input pInputText type="password" name="passowrdForgot" id="passwordForgot" placeholder="" class="textBox" [(ngModel)]="passwordForgot" />
      </div>

    </div>
    <p-button class="fileOperations-entity" (click)="forgotPassword()" label="Reset Password"></p-button>
  </p-dialog> -->
</div>