<div class="popup-container">
  <p-fileUpload
    name="imageUpload[]"
    url="https://www.primefaces.org/cdn/api/upload.php"
    (onUpload)="onUpload($event)"
    (onUpload)="closeDialog()"
    [multiple]="false"
    [accept]="acceptedTypes"
  >
    <ng-template pTemplate="content">
      <ul *ngIf="uploadedFiles.length">
        <li *ngFor="let file of uploadedFiles">
          {{ file.name }} - {{ file.size }} bytes
        </li>
      </ul>
    </ng-template>
  </p-fileUpload>
</div>
<div class="extract-text-container">
  <input type="checkbox" [(ngModel)]="extractText" id="extractCheckbox" [disabled]="extractTable"/>
  <label for="extractCheckbox">Extract Text</label>
  <input type="checkbox" [(ngModel)]="extractTable" id="extractTablebox" (change)="handleExtractTableChange()" />
  <label for="extractTablebox">Extract Table</label>
</div>


