/* You can add global styles to this file, and also import other style files */

/* Global Variables */
@import '~node_modules/quill/dist/quill.core.css';
@import '~node_modules/quill/dist/quill.bubble.css';
@import '~node_modules/quill/dist/quill.snow.css';
//TODO make global variables for each style element in the figma. Ie identifiers, headings, fonts etc.
$accent: #E61B23;
$font-color: #0C0006;

$dark-grey: #6F6F6F;
$light-grey: #E3E3E3;

$highlight: #a6cdff;

$text-box-color: #f6f6f6;

/* Global Styles */
@font-face {
    font-family: 'Cabin';
    src: url('/assets/Fonts/Cabin/Cabin-VariableFont_wdth,wght.ttf');
}

body {
    font-family: 'Cabin';
    font-size: 16px;
    color: $font-color;
}



// a {
//     color: $primary-color;
//     text-decoration: none;

//     &:hover {
//         text-decoration: underline;
//     }
// }

/* Component-specific styles */

body.dark-mode {
  color: #000000;
  background-color: #222;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}